<header class="header">
  <div class="header__content">
    <a class="logo" href="/">
      <p class="logo__name_yellow">Bot Binance</p>
    </a>
    <nav class="nav">
      <a
        class="menu__main"
        [routerLink]="'/'"
      >Main</a>
      <a
        class="menu__order"
        [routerLink]="'/order'"
      >Order</a>
      <a
        class="menu__statistics"
        [routerLink]="'/stat'"
      >Statistics</a>
      <a
        class="menu__api"
        (click)="openDialog()">API</a>
      <a
        class="menu__settings"
        [routerLink]="'/set'"
      >Settings</a>
    </nav>
    <section class="connect-wallet">
      <p class="connect-wallet__current-balance" *ngIf="isConnectWallet">{{currentBalance}}</p>
      <button mat-button (click)="openDialogAllWallet()">{{isConnectWallet? addressWallet.slice(0, 4) + '...' + addressWallet.slice(38)  : 'Connect'}}</button>
    </section>
  </div>
</header>
