<section>
  <p class="symbol">{{symbol}}</p>
  <p class="current-Price" [class.color-green]="markPrice>entryPrice"
     [class.color-red]="markPrice<entryPrice">{{markPrice}}</p>
  <p class="entry-Price">{{entryPrice}}</p>
  <p class="liquidation-Price">{{liquidationPrice <= 1 ? '- -' : liquidationPrice}}</p>
  <p class="amount">{{amount}}</p>
  <p class="pnl" [class.color-green]="pnlToken>0" [class.color-red]="pnlToken<0">{{pnlToken}}</p>
  <button (click)="openDialogTakeProfit()">Take profit</button>
  <button (click)="orderService.marketOrder(symbol,'SELL',amount,'MARKET')">Market</button>
</section>
