:root {
  --background-color: #22282F;
  --background-color-figures: #22242F;
  --background-color-header: #2d253a;
  --box-shadow: rgba(0, 0, 0, 0.25);
  --color-price-up: #28E824;
  --color-price-up-shadow: rgba(40, 232, 36, 0.15);
  --color-price-down: #FF1A1A;
  --color-price-close-hover: rgba(249, 4, 4, 0.8);
  --color-price-close-active: rgba(249, 4, 4, 0.6);
  --color-price-down-shadow: rgba(255, 26, 26, 0.15);
  --color-text: #FFE600;
  --color-text-80: #FFE600;
  --color-text-60: #FFE600;
  --color-white: white;
  --color-white-60: rgba(255, 255, 255, 0.6);
  --color-popular-list-hover: #161A1E;
  --color-black: black;
  --background-color-line: black;
  --button-disabled: #727272;
  --info-button-background-color-hover: #a8a8a8;
  --info-button-background-color-active: #676767;
  --background-color-button-connect-wallet: #ffffff;
  --background-color-button-connect-wallet-hover: rgba(255, 255, 255, 0.8);
  --background-color-button-connect-wallet-active: rgba(255, 255, 255, 0.6);
  --background-color-wallet-box: #424242;
  --color-warning: #ffcc00;
}
